# Development
black==24.4.2
ipython==8.25.0

# Data
pydantic==2.7.2
PyYAML==6.0.1
ulid-py==1.1.0

# Training
transformers==4.41.1
torch==2.3.1
wandb==0.17.3

# Interface
loguru==0.7.2
prettytable==3.10.0
